lightly
torch
torchvision
wandb
hydra-core
omegaconf
numpy
Pillow
matplotlib
tqdm
accelerate
polyaxon_client==0.6.1
torchsummary
torchinfo
opencv-python-headless
--extra-index-url https://pypi.ngc.nvidia.com